@charset "UTF-8";

/* reset---------------------------------------------------- */
*{margin: 0;padding: 0;list-style: none;box-sizing: border-box;text-decoration: none;color: #333;}

/* 공통스타일 정의 */
body{
    font-size: 12px;
    font-weight: 400px;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
    
}
img{display: block;}
header{display: block;}

/* sub-menu area--------- */
header div.sub-menu{display: flex; width: 100%;height: 35px;background-color: rgb(36,60,132);color: #fff;font-size: 12px
    ;}

/* sub-menu left area------- */
header div.sub-left ul{display: flex; width: 500px; margin-top: 10px;margin-left: 20px;color: #fff;}
header div.sub-left ul li a{margin-right: 20px;color: #fff;}
header div.sub-left ul.sub-menu li a::after{content: "|";margin-left: 10px;}


/* sub-menu right area-------- */
header div.sub-right{position: absolute; left: 800px; width: 500px;margin-top: 10px;}
header div.sub-right ul.sub-menu {display: flex;}
header div.sub-right ul.sub-menu li a{color: #fff;}
header div.sub-right ul.sub-menu li a::after{content: "|"; margin-left: 10px; margin-right: 10px; color: #fff;}

header .sub-sns{position: relative; right:-400px; bottom: 15px;display: flex;width: 30px;height: 30px;}


header .serch-box{width: 150px; position: relative; right: -500px; bottom: 45px; margin-top: 2px;}
header .serch-box input {height: 20px;}
header .serch-box::placeholder{display: none;}

header .serch-box a img{position: relative; right: -125px;bottom: 17px;}

/* 메인 로고 */

div.header-in h1 a img{position: relative; left: 650px; top: 50px;}

/* 슬라이드 메뉴 */
header .header-in nav#nav-pc{position: relative;left: 0px; top: 100px; width:100%;height:70px;z-index: 800;}

header .header-in nav#nav-pc > ul.gnb{display: flex; font-size: 15px;color: #333;background-color: #fff;}
header .header-in nav#nav-pc > ul.gnb > li {margin-inline-start:40px;position: relative;left: 350px;}

header .header-in nav#nav-pc > ul.gnb > li > ul.sub {margin-top: 5px; color: #333;display: none;}
header .header-in nav#nav-pc > ul.gnb > li > ul.sub li a {line-height: 30px;}

header .header-in nav#nav-pc > ul.gnb > li > a{position:relative; display:inline-block; padding:10px 10px; color:#666; font-size:16px; letter-spacing:-.5px;height: 35px;box-sizing: border-box;}
header .header-in nav#nav-pc > ul.gnb > li > a:hover{color:#253d87;}
header .header-in nav#nav-pc > ul.gnb > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #253d87;
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
header .header-in nav#nav-pc > ul.gnb > li > a:hover:after {
width: 100%;
}

/* 이미지 슬라이드*/
.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 메인슬라이드 화이트 버튼 */

.swiper-button-next,.swiper-button-prev {color: #fff !important;}



/* 인포메이션 카드 영역 */

div.info{width: 100%;height: 800px;position: absolute; top: 715px;}
div.info{background: url(../image/main_beanist_bg.gif);}
div.info p.info-text2{font-size: 25px;position: absolute;left:300px;top: 250px;}
div.info p.brown-text{font-size: 35px; color: rgb(137, 75, 41);position: absolute; top: 100px;left: 550px;}
div.info p.info-text{font-size:35px; color:#333; position: absolute; top: 100px;left: 700px;}
div.info figure {float: left; padding: 40px; position: relative; left: 320px; top: 360px;}
div.info figure figcaption{margin-top: 20px;text-align: center;}
div.info figure figcaption p{margin-top: 5px;}
div.info figure figcaption strong.font3{font-size: 20px;}
.hr{
  border:0px;
  border-top: 2px solid #3a393b;
  width: 10%;
  position: absolute;
  left: 700px;
  top: 170px;
}

/* 드림 팩토리 영역 */
div.dream{width: 100%;height: 450px;position: absolute; top: 1500px;background: linear-gradient(45deg, rgb(5, 46, 107), rgb(7, 81, 157));}
div.dream img{position: absolute; left:450px;top: 100px;}
div.dream .dream-text1{font-size: 30px; color: #fff; position: absolute; left: 250px;top: 150px;}
div.dream .dream-text2{font-size:18px; color: #fff; position: absolute;left: 250px;top: 200px;line-height: 25px;}
div.dream .factory-text{position: absolute; left: 250px;top: 50px;}
div.dream button{float: left; position: relative; left: 250px; top: 280px;width: 200px; height: 50px; margin-right:20px;background-color: #253d87;color: #fff;border: 1px solid #fff;}
div.dream button:hover{background-color: #fff;color: #253d87;cursor: pointer;}

/* always beside you 영역 */
div.always{width: 100%;height: 400px;position: absolute; top: 1940px;background:url(../image/block02_bg.jpg)}
div.always p.always-text1{font-size: 40px;color: #fff;position: absolute;left: 400px;top: 100px;}
div.always .hr-al{  border:0px;
  border-top: 2px solid #ffffff;
  width: 10%;
  position: absolute;
  left: 700px;
  top: 190px;}
div.always p.always-text2{font-size: 20px;color: #fff;position: absolute;left: 550px;top: 250px;}
div.always button{width: 190px;height: 50px;background-color: transparent;color: #fff;border: 1px solid #fff;position: absolute;left: 670px;top: 300px;}
div.always button:hover{color: #333;background-color: #fff;cursor: pointer;}

/* 창업안내 영역 */
div.branding{width: 100%;height: 400px;position: absolute;top: 2340px;background: url(../image/company_bg.jpg);}
div.branding p.br-text{position: absolute;left: 900px;top: 50px;font-size: 35px;color: #fff;line-height: 40px;}
div.branding p.br-text2{position: absolute;left: 900px;top:200px;color: #fff;line-height: 20px;}
div.branding button{width: 200px;height: 50px;background-color: transparent;color: #fff;border: 1px solid #fff;position: relative;left: 900px;top: 270px;}
div.branding button:hover{background-color: #fff;color: #253d87;cursor: pointer;}

/* 가맹점 개설 안내 영역 */
div.store{width: 350px;height: 330px;position: absolute;top: 2850px;left: 200px;background: url(../image/main_franchise_bg.jpg);}
div.store:hover{cursor: pointer;}
div.store p.st-text1{color: #fff;font-size: 25px;position: absolute;left: 30px;top: 50px;}
div.store hr.st-hr{
  border:0px;
  border-top: 2px solid #ffffff;
  width: 15%;
  position: absolute;
  left: 30px;
  top: 100px;}

  div.store p.st-text2{color: #fff;font-size: 18px;position: absolute;top: 150px;left: 30px;}

/* 매장찾기 영역 */
div.serch-store{width: 350px; height: 330px; position: absolute; top: 2850px;left: 560px;background: url(../image/main_store_bg.jpg);}
div.serch-store p.ser-text1{color: #fff;font-size: 25px;position: absolute;left: 30px;top: 50px;}
div.serch-store hr.ser-hr{  border:0px;
  border-top: 2px solid #ffffff;
  width: 15%;
  position: absolute;
  left: 30px;
  top: 100px;}
  div.serch-store p.ser-text2{color: #fff;font: 18px;position: absolute;top: 150px;left: 30px;line-height: 20px;}
div.serch-store input{width: 250px;height: 40px;position: absolute;left: 30px;top: 220px;background-color: #1d2d60;border: 3px solid #fff;padding-left: 5px;}
div.serch-store input::placeholder{color: #fff;}
div.serch-store img{position: absolute;left: 240px;top: 220px;}

/* 이디야 소식 영역 */
div.news{width: 450px;height: 330px;position: absolute;top: 2850px;left: 940px;}
div.news table{width: 440px; height: 180px;}
div.news table tr{line-height: 30px;}
div.news table th{float: left;}

/* 브로셔 영역 */
div.brochure{
  width:450px; height: 100px; background-color: rgb(203, 195, 178); position: absolute;
  top: 230px;
}

div.brochure img{position: absolute; left: 280px;bottom: 1px;}
div.brochure p a{color: #fff;font-size: 20px;position: absolute; left: 20px;top: 30px;}
div.brochure img.arrow{position: absolute; left: 20px;bottom: 20px;}


.bottom-st{color: #fff;}


/* 푸터영역 */
.footer{width: 100%;height: 300px;background-color: rgb(38, 38, 38);position: absolute;top: 3180px;}
.footer ul.bottom-menu li a{float: left;color: rgb(148, 148, 148);font-size: 14px;padding: 15px;
  position:relative;
  left: 400px;
  top: 12px;
}
.footer .select-menu{position: absolute; left:1150px;top: 25px;width: 150px;height: 20px;}
.footer img.ccm-logo{position: absolute;right:250px;top: 115px;}
.footer img.bottom-logo{position: absolute;left: 0;right: 0;margin: auto;top: 90px;}
.footer address{font-style: normal;color:rgb(148, 148, 148);font-size: 14px;position: absolute;left: 400px;top: 140px;line-height: 30px;
text-align: center;}

/* 스크롤 영역 */
a.down{
  width: 100px;
  height: 100px;
position: relative;
top: -500px;
right: -1400px;
color: #666;
}
a.down:hover{
  color: #1d2d60;
}

a.up{
  width: 100px;
  height: 100px;
  position: relative;
  bottom: -2800px;
  right: -1280px;
  color: #666;
}
a.up:hover{
  color: #fff;
}

/* 스크롤 영역 */
body::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #3b7bd4; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}